<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListByCategoryControllner</servlet-name>
        <servlet-class>controllner.ListByCategoryControllner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SreachControllner</servlet-name>
        <servlet-class>controllner.SreachControllner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListforAdmin</servlet-name>
        <servlet-class>controllner.ListforAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartControllner</servlet-name>
        <servlet-class>controllner.AddToCartControllner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControllner</servlet-name>
        <servlet-class>controllner.CartControllner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartControllner</servlet-name>
        <servlet-class>controllner.DeleteCartControllner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutControllner</servlet-name>
        <servlet-class>controllner.CheckOutControllner</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home_Controllner</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home_Controllner</servlet-name>
        <servlet-class>controllner.Home_Controllner</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListByCategoryControllner</servlet-name>
        <url-pattern>/listcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SreachControllner</servlet-name>
        <url-pattern>/sreach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListforAdmin</servlet-name>
        <url-pattern>/Listfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartControllner</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControllner</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartControllner</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutControllner</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
